<div class="page-header">
  <h1>
    Companylocations
    <a href="/companylocations/new" class="btn btn-lg btn-success">New Companylocation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Company</th>
        <th>City</th>
        <th>State</th>
        <th>Product</th>
        <th>Capacity</th>
        <th>Actions</th>
      </tr>

      <% @companylocations.each do |companylocation| %>
      <tr>
        <td><%= companylocation.company_id %></td>
        <td><%= companylocation.city %></td>
        <td><%= companylocation.state %></td>
        <td><%= companylocation.product_id %></td>
        <td><%= companylocation.capacity %></td>
        <td>
          <a href="/companylocations/<%= companylocation.id %>" class="btn btn-primary">Show</a>
          <a href="/companylocations/<%= companylocation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_companylocation/<%= companylocation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
