<div class="page-header">
  <h3>Companylocation #<%= @companylocation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Company</dt>
      <dd><%= @companylocation.company_id %></dd>

      <dt>City</dt>
      <dd><%= @companylocation.city %></dd>

      <dt>State</dt>
      <dd><%= @companylocation.state %></dd>

      <dt>Product</dt>
      <dd><%= @companylocation.product_id %></dd>

      <dt>Capacity</dt>
      <dd><%= @companylocation.capacity %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/companylocations" class="btn btn-primary">
        Back
      </a>
      <a href="/companylocations/<%= @companylocation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_companylocation/<%= @companylocation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
