<div class="page-header">
  <h2>
    Customer List <a href="/customers/new" class="btn pull-right btn-success">New Customer</a>
    </h2>
    
  <form class="navbar-form navbar-left" role="search">
    <%= search_form_for @q do |f| %>
      <div class="form-group">
        <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Customer Search" %>
      </div>
  
      <%= f.submit :class => "btn btn-primary btn-default" %>
      
      <a href="/customers" class="btn btn-default btn-warning">Clear filters</a>
    <% end %>
  </form>
</div>

<div class="row">
  <div class="col-md-12">
    
      <%= paginate @customers %>
    
    <table class="table table-striped table-hover">
      <tr>
        <th>Promise</th>
        <th>Name</th>
        <th>Short name</th>
        <th>Recent Transactions</th>
        <th>Actions</th>
      </tr>

      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.promise_id %></td>
        <td><%= customer.name %></td>
        <td><%= customer.short_name %></td>
        <td><%= Blockchain.where(customer_id: customer.id).count %></td>
        <td>
          <a href="/customers/<%= customer.id %>" class="btn-sm btn-primary">Show</a>
          <a href="/customers/<%= customer.id %>/edit" class="btn-sm btn-warning">Edit</a>
          <!--<a href="/delete_customer/<%= customer.id %>" class="btn-sm btn-danger" rel="nofollow">Delete</a>-->
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<%= paginate @customers %>
