<div class="page-header">
  <h3><%= @customer.short_name %> (<%= @customer.promise_id %>)</h3>
  <h6><%= @customer.name %></h6>
    <div class="btn-group btn-group-justified">
      <a href="/customers" class="btn-xs btn-primary">
        Back
      </a>
      <a href="/customers/<%= @customer.id %>/edit" class="btn-xs btn-warning">
        Edit
      </a>
      <a href="/delete_customer/<%= @customer.id %>" class="btn-xs btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
</div>

<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="/customers/<%= @customer.id %>">Info</a></li>
  <li role="presentation"><a href="/customers/<%= @customer.id %>/recent"%> Recent Business</a></li> 
  <li role="presentation"><a href="#">Notes & Contact</a></li> 
</ul>  

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Location</th> 
      </tr>
 
      <% @locations.uniq.each do |a| %> 
      <tr>
        <td><a href="/shiptolocations/<%= a.id %>"><%= a.shiptonumber %></td>   
        <td><%= a.shiptoname %></td>   
        <td><%= a.city %>, <%= a.state %></td>   

      </tr>
      <% end %>
    </table>
  </div>
</div>
