<div class="page-header">
  <h3>Customer #<%= @customer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Promise</dt>
      <dd><%= @customer.promise_id %></dd>

      <dt>Name</dt>
      <dd><%= @customer.name %></dd>

      <dt>Short name</dt>
      <dd><%= @customer.short_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/customers" class="btn btn-primary">
        Back
      </a>
      <a href="/customers/<%= @customer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_customer/<%= @customer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
