<div class="page-header">
  <h3>Locationdetail #<%= @locationdetail.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Company</dt>
      <dd><%= @locationdetail.company_id %></dd>

      <dt>Location</dt>
      <dd><%= @locationdetail.location_id %></dd>

      <dt>Product</dt>
      <dd><%= @locationdetail.product_id %></dd>

      <dt>Capacity</dt>
      <dd><%= @locationdetail.capacity %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/locationdetails" class="btn btn-primary">
        Back
      </a>
      <a href="/locationdetails/<%= @locationdetail.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_locationdetail/<%= @locationdetail.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
