<!-- Validation failure messages -->
<% if @blockchain.errors.any? %>
  <% @blockchain.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="page-header">
  <h3>Add Chatter</h3>
</div>

  <div class="col-md-12">
    <form action="/create_blockchain" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      </div>

      <!-- Label and input for salesperson_id -->

      <div class="form-group">
        <label for="salesperson_id" class="control-label">
          Salesperson
        </label>
        <div>
          <select id="salesperson_id" name="salesperson_id" class="control-label" >
            <% @salespeople.each do |salesperson| %>
            <option id="salesperson_id" value="<%= salesperson.id %>"><%= salesperson.salesperson %></option>
            <%end%>
          </select>
        </div>
      </div>
      

      <!-- Label and input for product_id -->
      <div class="form-group">
        <label for="product_id" class="control-label">
          Product
        </label>
        <ul>
          <% @product.each do |product| %>
            <div class="col-md-<%=12/@product.count%>">
              <input type="radio" id="product_id" name="product_id" value="<%= product.id %>">
              <label for="product_id"> <%=product.name%> </label>
            </div>
          <%end%>
        </ul>
      </div>

      <!-- Label and input for state -->

      <div class="form-group">
        <label for="state" class="control-label">
          State (rank options based on user & product)
        </label>
        <div>
          <select id="state" name="state" class="control-label" >
            <% @state.each do |state| %>
            <option id="state" value="<%= state.id %>"><%= state.state %></option>
            <%end%>
          </select>
        </div>
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @blockchain.city %>">
      </div>

      <!-- Label and input for customer_id -->
      <div class="form-group">
        <label for="state" class="control-label">
          Customer
        </label>
        <div>
          <select id="customer_id" name="customer_id" class="control-label" >
            <% @customer.each do |customer| %>
            <option id="customer_id" value="<%= customer.id %>"><%= customer.short_name %></option>
            <%end%>
          </select>
        </div>
      </div>

      <!-- Label and input for company_id -->
      <div class="form-group">
        <label for="company_id" class="control-label">
          Company
        </label>  
        <div>
          <select id="company_id" name="company_id" class="control-label" >
            <% @company.each do |company| %>
            <option id="company_id" value="<%= company.id %>"><%= company.name %></option>
            <%end%>
          </select>
        </div>
      </div>

      <!-- Label and input for source_id -->
      <div class="form-group">
        <label for="source_id" class="control-label">
          Source
        </label>
        <div>
          <select id="source_id" name="source_id" class="control-label" >
            <% @location.each do |location| %>
            <option id="source_id" value="<%= location.id %>"><%= location.city %></option>
            <%end%>
          </select>
        </div>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @blockchain.price %>">
      </div>

      <!-- Label and input for metric -->
      <div class="form-group">
        <label hidden for="metric" class="control-label">
          Metric
        </label>
              <input type="radio" checked id="metric" name="metric" value="$/st">
              <label for="metric">$/st</label>
              <input type="radio" id="metric" name="metric" value="$/mt">
              <label for="metric">$/mt</label>
      </div>

      <!-- Label and input for tons -->
      <div class="form-group">
        <label for="tons" class="control-label">
          Tons
        </label>

        <input type="text" id="tons" name="tons" placeholder="Tons" class="form-control" value="<%= @blockchain.tons %>">
      </div>

      <!-- Label and input for mode -->
      <div class="form-group">
        <label for="mode" class="control-label">
          Mode
        </label>
        <ul>
          <% @mode.each do |mode| %>
            <div class="col-md-2">
              <input type="radio" id="mode" name="mode" value="<%= mode.id %>">
              <label for="mode"> <%=mode.mode%> </label>
              </div>
          <%end%>
        </ul>
      </div>

      <!-- Label and input for terms -->
    <br/>
    <br/>
      <div class="form-group">
        <label for="terms" class="control-label">
          Terms
        </label>
         <ul>
            <input type="radio" checked id="terms" name="terms" value="FOB">
            <label for="terms">FOB</label>
            <input type="radio" id="terms" name="terms" value="DEL">
            <label for="terms">DEL</label>
          </ul>
      </div>

      <!-- Label and input for ship_start -->
      <div>
      <div class="form-group">
        <label for="ship_start" class="control-label">
          Ship start
        </label>

        <input type="text" id="ship_start" name="ship_start" placeholder="Ship start" class="form-control" value="<%= @blockchain.ship_start %>">
      </div>
      </div>
      <!-- Label and input for completed -->
      <div class="form-group">
        <label for="completed" class="control-label">
          Completed
        </label>
         <ul>
            <input type="radio" checked id="completed" name="completed" value="yes">
            <label for="terms">yes</label>
            <input type="radio" id="completed" name="completed" value="no">
            <label for="terms">no</label>
          </ul>
      </div>

      <button class="btn-sm btn-success">
        Add Chatter
      </button>
      or
      <a href="/blockchains">Cancel</a>
    </form>
  </div>
  </div>
</div>
