<div class="page-header">
  <h4>Chatter Entry #<%= @blockchain.id %></h4>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Salesperson</dt>
      <dd><a href="/salespeople/<%=@blockchain.salesperson_id%>"><%= Salesperson.find(@blockchain.salesperson_id).salesperson %></a></dd>

      <dt>Product</dt>
      <dd><%= Product.find(@blockchain.product_id).name %></dd>

      <dt>State</dt>
      <dd><a href="/states/<%= @blockchain.state %>"><%= @blockchain.state %></a></dd> 

      <dt>City</dt>
      <dd><%= @blockchain.city %></dd>

      <dt>Customer</dt>
      <dd><a href="/customers/<%=@blockchain.customer_id%>"><%= Customer.find(@blockchain.customer_id).short_name %> (<%= Customer.find(@blockchain.customer_id).promise_id %>)</a></dd>

      <dt>Company</dt>
      <dd><a href="/companies/<%=@blockchain.company_id%>"><%= Company.find(@blockchain.company_id).name %></a></dd>

      <dt>Source</dt>
      <dd><a href="/locations/<%=@blockchain.source_id%>"><%= Location.find(@blockchain.source_id).city%></a></dd>

      <dt>Price</dt>
      <dd><%= @blockchain.price %> <%= @blockchain.metric %></dd>

      <dt>Tons</dt>
      <dd><%= @blockchain.tons %></dd>

      <dt>Mode</dt>
      <dd><a href="/modes/<%= @blockchain.mode %>"><%= Mode.find(@blockchain.mode).mode %></a></dd>

      <dt>Terms</dt>
      <dd><%= @blockchain.terms %></dd>

      <dt>Ship start</dt>
      <dd><%= @blockchain.ship_start %></dd>

      <dt>Completed</dt>
      <dd><%= @blockchain.completed %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/blockchains" class="btn btn-primary">
        Back
      </a>
      <a href="/blockchains/<%= @blockchain.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_blockchain/<%= @blockchain.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
