<div class="page-header">
  <h3>Blockchain #<%= @blockchain.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Salesperson</dt>
      <dd><%= Salesperson.find(@blockchain.salesperson_id).salesperson %></dd>

      <dt>Product</dt>
      <dd><%= Product.find(@blockchain.product_id).name %></dd>

      <dt>State</dt>
      <dd><%= State.find(@blockchain.state).state %></dd>

      <dt>City</dt>
      <dd><%= @blockchain.city %></dd>

      <dt>Customer</dt>
      <dd><%= Customer.find(@blockchain.customer_id).name %></dd>

      <dt>Company</dt>
      <dd><%= Company.find(@blockchain.company_id).name %></dd>

      <dt>Source</dt>
      <dd><%= Location.find(@blockchain.source_id).city %>, <%= Location.find(@blockchain.source_id).state %></dd>

      <dt>Price</dt>
      <dd><%= @blockchain.price %> <%= @blockchain.metric %></dd>

      <dt>Tons</dt>
      <dd><%= @blockchain.tons %></dd>

      <dt>Mode</dt>
      <dd><%= Mode.find(@blockchain.mode).mode %></dd>

      <dt>Terms</dt>
      <dd><%= @blockchain.terms %></dd>

      <dt>Ship start</dt>
      <dd><%= @blockchain.ship_start %></dd>

      <dt>Completed</dt>
      <dd><%= @blockchain.completed %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/blockchains" class="btn btn-primary">
        Back
      </a>
      <a href="/blockchains/<%= @blockchain.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_blockchain/<%= @blockchain.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
